body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main{
  width: 300px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}